---
import "../styles/global.css";
import { MacbookScrollDemo } from "../components/macbook-scroll-demo";
---

<h1 class="w-full text-center text-7xl md:text-1xl italic font-black font-dmsans text-white bg-zinc-900 py-10 tracking-tight"> Flowstice </h1>

<MacbookScrollDemo client:load />

<button id="my-button" class="btn">Click Me</button>
